body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.item1 {
    background: orangered;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item2 {
    background: yellowgreen;
    flex: 1;
    display: flex;

}

.item3 {
    background: cornflowerblue;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item4 {
    background: darkgoldenrod;
    flex: 1;
}

.item5 {
    background: darksalmon;
}

.item6 {
    background: blueviolet;
    flex: 1;
}

.wrapper div {
    font-size: 5vw;
    padding: .5em;
    color: white;
}