* {
  margin: 0;
}

body {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.wrapper > * {
  padding: 0 20px;
}

.page-header {
  background: #000000;
}

.page-main {
  flex-grow: 1;
  background: #141414;
}

.page-sub {
  flex-grow: 1;
  background: #141414;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

nav ul {
  padding: 0;
  list-style: none;
  align-content: flex-end;
}

.logo {
  flex-grow: 1;
}

.menu {
  flex-grow: 1;
  align-content: flex-end;
}

.menu li {
  margin-top: 20px;
}

.social {
  flex-grow: 0;
}

.social li {
  margin-top: 8px;
}

nav ul li a i {
  color: white;
  transition: 0.5s;
}

.active,
nav ul li a i:hover {
  color: deepskyblue;
  width: 50%;
}

.topbar {
  display: flex;
  height: 10vh;
  justify-content: start;
  align-items: flex-start;
}
.bottombar {
  display: flex;
  height: 30vh;
  justify-content: start;
  align-items: flex-end;
}

.main-content {
  padding: 0;
  display: flex;
  /* background-color: gray; */
  font-size: 300%;
  height: 60vh;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
}
.text-content {
  padding: 0;
  display: flex;
  /* background-color: gray; */
  height: 60vh;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
}

.sub-section {
  display: flex;
  height: 100vh;
  align-items: center;
}

.sub-section-about {
  display: flex;
  height: 100vh;
  align-items: flex-end;
}
.sub-section img {
}
